ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Especifica que sucede si el contenido del
                    cuadrado de un elemento se desbora */
background-color: #333;
}

li{
  float: left;
}

li a{
  display: block;  /* Mostrarlo como linea en bloque */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #f1d517;
  transform: scalex(1.2);
  font-style: italic;
  color: #333;
}

li a:active{
  background-color: #609acf;
  transform: scalex(1.2);
  font-style: italic;
}

li:last-child{
  float: right;
  background-color: rgba(106, 116, 116, 0.70);
  color: white;
}

#pp{
  width: 3%;
  float: right;
}

#pp:active{
  width: 1%;
}
